@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color:brown;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color:grey;
  }
  .column {
    width: 500px;
    float: left;
    padding: 15px;
  }
.dan {
    border-radius: 50%;
    margin-left:auto;
    margin-right:auto;
    display:block;   
}
h1{
    text-align:center;
}
.intro{
    width:10%;
    height:10%;
    border-radius:8px;
}
.twit{
    width: 10%;
    height:10%;
    border-radius:8px;
}
.insta{
    width:10%;
    height:10%;
    border-radius:8px;
}
h5{
    font-size:18px;
}
h6{
    font-size:20px;
}
.social{
    font-weight: bold;
}
.hobby{
    float:left;
    width:500px;
}